@import 'company.css';
@import 'common.css';
@import 'footer.css';
@import 'header.css';
@import 'menu.css';
@import 'post-types.css';

body{
	background-color: #edeeee !important;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

